albumentations==2.0.0
customtkinter==5.2.2
gudhi==3.10.1
imageio==2.36.1
matplotlib==3.10.1
numpy==2.2.4
opencv_python_headless==4.10.0.84
optuna==4.2.0
pandas==2.2.3
Pillow==11.2.1
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
segmentation_models_pytorch==0.4.0
scikit-image
torch==2.5.1
torchmetrics==1.6.1
torchseg==0.0.1a4
torchvision==0.20.1
tqdm==4.67.1
tensorboard
pip-system-certs
